<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/silverspoon"
        android:label="Silver Spoons"
        android:roundIcon="@mipmap/silverspoon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResturentsilverSpoons"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".Order_place_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Edit_profile_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".otp_receiveActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp_sentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>